.consola {
    background-color: #000;
    color: #fff;
    padding: 2px 5px 2px 5px;
}

.titulo {
    text-align: center;
}

.ejemplos {
    background-color: #000;
    color: yellow;
    padding: 2px 5px 2px 5px;
}

.notas {
    font-style: italic;
    margin-bottom: 2px;
}

.imagen-extra {
    max-width: 70%;
    margin-bottom: 5px;
}

@media (max-width: 660px) {
    .imagen-extra {
        max-width: 100%;
        margin-bottom: 5px;
    }
}

.linea-separacion {
    border-bottom: 1px solid #377ef0;
}